.body {
  font-family: Font Bureau;
}

h1, h2, h3, h4{
  font-family: miller-banner, serif;
  font-style: normal;
  font-weight: 300;
  margin: 0;
  color: #202020;
}

p{
  color: #202020;
  font-family: HelveticaNeue;

}

html, body{
  margin: 0;
  padding: 0;
}

hr{
  margin: 0 auto;
  width: 80%;
  border: 0;
  height: 1px;
  background:  #eeeeee;
}